:root {
  --w-8xl: 1700px;
  --mlg: 900px;
  --border-bold: oklch(90.562% 0.02263 254.482);
  --white: #d3d3d3;
}

.dark{
  --border-bold: oklch(0.3717 0.1392 257.2870);
  --white: #e0e0e0;
}

@theme inline {
  --max-width-8xl: var(--w-8xl);

  --breakpoint-mlg: var(--mlg);

  --color-border-bold: var(--border-bold);
  --color-white: var(--white);
};