@import 'tailwindcss';

@theme {
  --color-dark: #0a1128;
  --color-light: #f8fafc;

  --color-primary: #1d4ed8;
  --color-primary-hover: #1e40af;

  --color-accent: #38bdf8;
  --color-accent-hover: #0284c7;

  --color-surface: #1e293b;
}